/*-----------------------------Global styling----------------------*/

@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body {
    height:100%;
    margin:0;
    padding:0;
    font-family: mukta;
}

a {
    color:#6a6766;
}

a:hover{
    text-decoration: none;
    color: #545150;
    font-weight: bold;
}

p {
    margin:10px;
}

hr {
    margin-top:5px;
    margin-bottom: 5px;
}

/* -------------------------------Welcome page-------------------------*/

#introBlock {
    height:100vh;
    background: linear-gradient(rgba(226, 94, 13, 0.5), rgba(226, 94, 13, 0.5)), url(../images/travel.jpeg);
    background-size: cover;
    color: #fff;
    margin-bottom: 0;
}

.title {
    padding-top: 35px;
}

h1 {
    font-size: 5em;
    
}

h2 {
    font-size: 3em;
}

#start {
    margin-top:75px;
    color: #fff;
    
    background-color: #ef8234;
}

/* ----------------------------Map page-------------------------------*/

#mainBody{
    margin-top:0;
    background-color: #fff;
    height:100vh;
}

/* ---------------------------- Map and Popups-----------------------*/

#map {
    height: 100%;
    min-height: 60vh;
}

.modal-content{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    color: #545150;
}

/* ----------------------------------------Destination Search Box--------------------------*/

#destinationBox {
    margin-top: 0;
    padding:10px;
    margin-bottom: 50px;
    color: #fff;
    background: rgb(226, 94, 13);
    font-family: mukta;
    font-weight: bold;
}

#placeSearch {
    width:70%;
    text-align: center;
    font-size: 1.3em
}

/* -------------------------------------Place selector and show me (map controls)--------------*/

.btn-info{
    width: 100%;
    color: #fff;
    background-color: rgb(226, 94, 13);
    margin:0;
    border-color: #ffc107;
}

.btn-info:hover{
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-info:active{
    border-color: #ffc107;
}

.btn-info:focus{
    border-color:#ffc107;
    box-shadow: 0 0 0 0.2rem #ffc107;
}

.dropdown-toggle {
    padding-top:15px;
    padding-bottom:15px;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    border-color: #ffc107;
}

#find {
    color: #fff;
    background-color: rgb(226, 94, 13);
    padding:10px 0px;
    margin-top: 25px;
    margin-bottom:10px;
    text-align: center;
    font-size:1.3em;
    width:100%;
}

#find:focus{
    box-shadow: 0 0 0 0.2rem #ffc107;
}
#find:active{
    border-color: #ffc107;
}

#showMe {
    color: #fff;
    background-color: rgb(226, 94, 13);
    padding:10px 0px;
    margin-top: 25px;
    margin-bottom:10px;
    text-align: center;
    font-size:1.3em;
    width:100%;
}

/*------------------------------------------------Infowindow-------------------------------*/

#infoWrapper {
    display: none;
}

#placeInfo {
    font-family: 'Roboto Slab', serif;
    margin:0;
    padding:0;
    color: #6a6766;
}

#placeHeading {
    color: #545150;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/*-------------------------Media Queries----------------------*/

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 3.5rem
    }
    h2 {
        font-size: 2.5rem
    }
}